* {
    margin: 0;
    text-align: center;
}
.colors {
    background-color: yellow;
    animation-name: color;
    animation-duration:2s;
    animation-delay: 0s;
    /* animation-fill-mode: both; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 100vw;
    height: 100vh;
}

@keyframes color{
    from{filter: hue-rotate(0deg);}
    to{filter: hue-rotate(360deg);}
}